{% extends "_layout.html" %}
{% from 'macros/user_block.html' import user_block %}
{% from 'macros/user_images.html' import user_images %}

{% block title %}
  Users
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <h1>Users</h1>
  <a href="{{ url_for('home') }}">Home</a>
  <br><br>

  {% for user in user_list %}
    <hr>
    {{ user_block(user, current_user) }}
    {% for image in user.images %}
      {{ user_images(image, user, current_user) }}
    {% endfor %}
  {% endfor %}

{% endblock %}
