{% extends "_layout.html" %}
{% from 'macros/user_block.html' import user_block %}
{% from 'macros/user_follow.html' import user_follow %}
{% from 'macros/user_images.html' import user_images %}

{% block title %}
  Profile Page
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <h1>{{user.name}}</h1>
  <a href="{{ url_for('home') }}">Home</a>
  <br><br>
  {{ user_block(user, current_user) }}
  {{ user_follow(user, current_user) }}

  {% if user.id == current_user.id %}
    <a href="{{ url_for('users.edit', id=user.id) }}" class="btn btn-secondary">Edit Profile</a>
    <br><br>
    <a href="{{ url_for('follows.index') }}" class="btn btn-secondary">View my followers</a>
    <br><br>
  {% endif %}
  
  {% for image in user.images %}
   {{ user_images(image, user, current_user) }}
  {% endfor %}

{% endblock %}
